################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/SPOAzBlob
/src/SPOAzBlob.Web/.gitignore
